.table-stat {
  blockquote {
    margin-left: 0;
    margin-right: 0;
    page-break-inside: avoid;
  }
  &.table-stat-cthulhu > blockquote {
    border: none;
    table {
      width: 100%;

      &:first-child {
        border-spacing: 0;
      }

      th {
        font-size: 12pt;
        font-family: 'regular-text';
        text-align: left;
        color: rgb(106, 28, 15);
        padding: 0;
      }
      td {
        font-size: 9pt;
        font-family: 'regular-text';
      }

      &:nth-child(2) {
        td {
          font-size: 10pt;
        }
      }
    }
  }
}
&.notes-are-textured > .table-stat {
  &.table-stat-cthulhu > blockquote > table { 
    
  }
}