.table-monster {
  blockquote {
    margin-left: 0;
    margin-right: 0;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    page-break-inside: avoid;
  }
  &.table-monster-cthulhu > blockquote > table {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 0;
    th {
      font-size: 10pt;
      font-family: 'headers-blockquotes';
      text-transform: uppercase;
    }
    td {
      font-size: 9pt;
      font-family: 'headers-blockquotes';
      padding: 3px 0 3px 0;
    }
    &:nth-child(1) {
      th {
        padding: 5px 0 5px 0;
      }
      tbody {
        display: none;
      }
    }
    &:nth-child(2) {
      thead {
        display: none;
      }
    }
    &:nth-child(3),
    &:nth-child(4) {
      tbody {
        border-top: 1px solid black;
      }
    }
    
  }
}
&.notes-are-textured > .table-monster {
  &.table-monster-cthulhu > blockquote > table { 
    background-color: #ffbcbc;
    &:nth-child(2) tbody tr:nth-child(even),
    &:nth-child(3) tbody tr:nth-child(even),
    &:nth-child(4) tbody tr:nth-child(even) {
      background-color: rgb(231, 227, 239);
    }
    &:nth-child(2) tbody tr:nth-child(odd),
    &:nth-child(3) tbody tr:nth-child(odd),
    &:nth-child(4) tbody tr:nth-child(odd) {
      background-color: white;
    }
  }
}