.page-header {
  position: absolute;
  top: 0;
  left: 0;

  > .is-textured {
    position: absolute;
    width: 21cm;
    height: 1cm;
    top: 0;
    left: 0;

    &.theme-default {

    }

    &.theme-cthulhu {
      background-image: url('../assets/imgs/header_cthulhu_01.png');      
    }

    background-size: 21cm 1cm;
  }

  &.is-even {
    > .is-textured {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}