blockquote {
  margin: 5px 0 10px 0 !important;
}

&.notes-are-textured {

  .note-primary {
    background-color: rgb(218, 230, 191);
  }

  .note-secondary {
    background-color: rgb(220, 207, 172);
  }

  .note-tertiary {
    background-color: rgb(231, 227, 239);
  }

  .note-newspaper {
    background-color: #F4DCC0;
  }

  .note-handwritten {
    background-image: url('../assets/imgs/note_texture_cthulhu_02.jpg');
    background-repeat: no-repeat;
    background-position: center; 
  }

  .note-phb {
    background-color: rgb(250, 247, 234);
  }

  &.theme-cthulhu-1 {
    .note-primary {
      background-image: url('../assets/imgs/note_texture_cthulhu_02.jpg');
      background-repeat: no-repeat;
      background-position: center; 
    }

    .note-secondary {
      background-image: url('../assets/imgs/note_texture_cthulhu_01.jpg');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: 100% 100%;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
    }

    .note-tertiary {
      background-color: #F4EEC8;
    }

    .note-newspaper {
      background-image: none !important;
    }
  }

  &.theme-cthulhu-2 {
    .note-primary {
      background-color: rgba(0, 0, 0, 0.07);
    }

    .note-secondary {
      background-color: rgba(0, 0, 0, 0.07);
    }

    .note-tertiary {
      background-color: rgba(0, 0, 0, 0.07);
    }

    .note-newspaper {
      background-image: none !important;
      background-color: #F4DCC0 !important;
    }
  }
}

.note-primary, .note-secondary, .note-tertiary {
  margin-left: 0;
  margin-right: 0;
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  page-break-inside: avoid;
  border-top-style: inset;

  > *:not(blockquote) {
    margin-left: 10px;
    margin-right: 10px;
  }

  *:not(blockquote):first-child {
    padding-top: 5px;
  }

  *:not(blockquote):last-child {
    padding-bottom: 5px;
    margin-bottom: 0;
  }

  h1 {
    text-align: center;
    font-size: 16pt;
    font-weight: 600;
    font-family: 'headers';
    text-transform: uppercase;
    color: #6a1c0f;
    padding-top: 0;
    margin-bottom: 5px;
  }

  p {
    font-family: 'regular-text';
    font-size: 9pt;
  } 
}

.note-newspaper {
  h1 {
    font-family: 'newspaper-headers';
    text-align: center;
    font-size: 18pt;
    text-transform: uppercase;
    color: black;
  }

  p {
    font-family: 'newspaper-text';
    text-align: justify;
    font-size: 12pt;
    color: black;
  }
}

.note-handwritten {
  p {
    font-family: 'handwriting';
    font-size: 12pt;
    color: black;
  }
}

.note-phb {
  border-style: solid;
  border-width: 7px;
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAAM1BMVEUAAAAAAAAAAAAkAAA1GwA0GgA5GgA5GwA4HgA7HgA5HgA7HgA7HwA7HgA8HgA7HgA8HwDn6RpAAAAAEHRSTlMAAQcHMDExQ1ZW1dXY3t7+02zZCAAAAKNJREFUWMPt2LEOwyAMBNCkSXGpKfb/f20G3AGUiWOJdNlueYrt6di2J3xHrmZF9mVCdnd3T/NgCO+ItUWdB0P4RrQWfR4chOVggUcu/cgCH0X6o+ynuivg3QjIAm8FggQJEiRIkCBBggQJEoTApO56An15EFIrVgJ4vaAtlnlwEKKbGrLATlgOxg9XeORfv9IMH+Xzb7tSzGo+gL7chNcjXpUulIwXVrjWS+0AAAAASUVORK5CYII=") 12 round;
  border-image-outset: 4px;
}

&.theme-cthulhu-1 {
  %headers {
    h1 {
      text-align: center;
      font-size: 16pt;
      font-weight: 600;
      font-family: 'headers';
      text-transform: uppercase;
      color: #6a1c0f;
      padding-top: 0;
      margin-bottom: 5px;
    }
  }

  .note-primary {
    border: 20px solid transparent;
    border-image: url('../assets/imgs/note_border_cthulhu_01.png') 41;
    clip-path: polygon(
      0px 13px, 5px 13px, 8px 12px, 10px 11px, 12px 8px, 14px 0px,
      calc(100% - 14px) 0px, calc(100% - 12px) 8px, calc(100% - 10px) 11px, calc(100% - 8px) 12px, calc(100% - 5px) 13px, 100% 13px,
      100% calc(100% - 13px), calc(100% - 5px) calc(100% - 13px), calc(100% - 8px) calc(100% - 12px), calc(100% - 10px) calc(100% - 11px), calc(100% - 12px) calc(100% - 8px), calc(100% - 14px) 100%,
      13px 100%, 13px calc(100% - 5px), 12px calc(100% - 8px), 11px calc(100% - 10px), 8px calc(100% - 12px), 0px calc(100% - 14px));
  
    @extend %headers;

    p, h1, h2, h3, h4, h5, h6 {
      color: black;
    }
  }

  .note-secondary {
    border-radius: 25px;
    border: none;

    @extend %headers;

    p, h1 {
      color: black;
      margin-left: 20px;
      margin-right: 20px;
    }

    &::before {
      display: block;
      content: '';
      height: 50px;
      background-image: url('../assets/imgs/cthulhu_note_hr_01_wide.png');
      background-repeat: no-repeat;
      background-position: center; 
    }
  
    &::after {
      display: block;
      content: '';
      height: 50px;
      background-image: url('../assets/imgs/cthulhu_note_hr_01_wide.png');
      background-repeat: no-repeat;
      background-position: center; 
      transform: rotate(180deg);
    }
  }

  .note-tertiary {
    border: 20px solid transparent;
    border-image: url('../assets/imgs/note_border_cthulhu_01.png') 41;
    clip-path: polygon(
      0px 13px, 5px 13px, 8px 12px, 10px 11px, 12px 8px, 14px 0px,
      calc(100% - 14px) 0px, calc(100% - 12px) 8px, calc(100% - 10px) 11px, calc(100% - 8px) 12px, calc(100% - 5px) 13px, 100% 13px,
      100% calc(100% - 13px), calc(100% - 5px) calc(100% - 13px), calc(100% - 8px) calc(100% - 12px), calc(100% - 10px) calc(100% - 11px), calc(100% - 12px) calc(100% - 8px), calc(100% - 14px) 100%,
      13px 100%, 13px calc(100% - 5px), 12px calc(100% - 8px), 11px calc(100% - 10px), 8px calc(100% - 12px), 0px calc(100% - 14px));
  
    @extend %headers;
  }
}

&.theme-cthulhu-2 {
  %headers {
    h1 {
      text-align: center;
      font-size: 16pt;
      font-weight: 600;
      font-family: 'headers';
      text-transform: uppercase;
      color: #6a1c0f;
      padding-top: 0;
      margin-bottom: 5px;
    }
  }

  .note-primary, .note-secondary, .note-tertiary {
    border-radius: 25px;
    border: none;

    @extend %headers;

    &::before {
      display: block;
      content: '';
      height: 50px;
      background-image: url('../assets/imgs/cthulhu_note_hr_02_wide.png');
      background-repeat: no-repeat;
      background-position: center; 
    }
  
    &::after {
      display: block;
      content: '';
      height: 50px;
      background-image: url('../assets/imgs/cthulhu_note_hr_02_wide.png');
      background-repeat: no-repeat;
      background-position: center; 
      transform: rotate(180deg);
    }
  }

  .note-newspaper, .note-handwritten {
    border-radius: 0px;
    border: 20px solid transparent;
    border-image: url('../assets/imgs/note_border_cthulhu_01.png') 41;
    clip-path: polygon(
      0px 13px, 5px 13px, 8px 12px, 10px 11px, 12px 8px, 14px 0px,
      calc(100% - 14px) 0px, calc(100% - 12px) 8px, calc(100% - 10px) 11px, calc(100% - 8px) 12px, calc(100% - 5px) 13px, 100% 13px,
      100% calc(100% - 13px), calc(100% - 5px) calc(100% - 13px), calc(100% - 8px) calc(100% - 12px), calc(100% - 10px) calc(100% - 11px), calc(100% - 12px) calc(100% - 8px), calc(100% - 14px) 100%,
      13px 100%, 13px calc(100% - 5px), 12px calc(100% - 8px), 11px calc(100% - 10px), 8px calc(100% - 12px), 0px calc(100% - 14px));

    &::before {
      display: none;
    }
  
    &::after {
      display: none;
    }
  }
}

&.columns-2 {
  &.theme-cthulhu-1 {
    .note-secondary {
      &::before {
        background-image: url('../assets/imgs/cthulhu_note_hr_01.png');  
      }
      &::after {
        background-image: url('../assets/imgs/cthulhu_note_hr_01.png');  
      }
    }
  }
  &.theme-cthulhu-2 {
    .note-primary, .note-secondary, .note-tertiary {
      &::before {
        background-image: url('../assets/imgs/cthulhu_note_hr_02.png');  
      }
      &::after {
        background-image: url('../assets/imgs/cthulhu_note_hr_02.png');  
      }
    }
  }
}