.page-header {
  position: absolute;
  top: 0;
  left: 0;

  > .is-textured {
    position: absolute;

    &.theme-default {

    }

    &.theme-cthulhu-1 {
      background-image: url('../assets/images/header_cthulhu_01.png');      
      background-size: 21cm 10px;
      width: 21cm;
      height: 10px;
      top: 1cm;
    }

    &.theme-cthulhu-2 {
      
    }
  }

  &.is-even {
    > .is-textured {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}