.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;

  > .is-textured {
    position: absolute;
    width: 21cm;
    height: 1cm;
    bottom: 0;
    left: 0;

    &.theme-default {
      background-image: url('../assets/imgs/footer_01.png'); 
    }

    &.theme-cthulhu {
      
    }

    background-size: 21cm 1cm;
  }

  > .page-number {
    position: absolute;
    bottom: 0.2cm;
    font-family: 'headers';
    color: rgb(160, 141, 93);
    font-size: 12pt;
    left: 20.3cm;
  }

  &.is-even {
    > .is-textured {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    > .page-number {
      left: 0.5cm;  
    }
  }
}