.table-stat {
  margin-bottom: 12px;

  &.table-stat-cthulhu {
    border: 0px solid black;

    table {
      width: calc(100% + 1px);
      border-collapse: collapse;
      margin-bottom: 0;

      &:first-child {
        border-spacing: 0;

        th {
          padding: 3px 5px;
        }

        td {
          padding: 0;
        }
      }

      &:nth-child(2) {
        th {
          padding: 0px 5px;
        }

        td {
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      &:nth-child(n+2) {
        tbody {
          tr:nth-child(odd) {
            background-color: rgba(224, 199, 136, 0.2);
          }

          tr:nth-child(even) {
            background-color: rgba(224, 199, 136, 0.5);
          }
        }
      }

      &:nth-child(n+3) {
        th {
          padding: 3px 5px;
        }
        td {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }

      th {
        font-size: 12pt;
        font-family: 'regular-text';
        text-align: left;
        color: #DED7CC;
        padding: 0;
      }
      td {
        font-size: 9pt;
        font-family: 'regular-text';
      }

      &:nth-child(2) {
        td {
          font-size: 10pt;
        }
      }
    }
  }
}
// &.notes-are-textured > .table-stat {
//   &.table-stat-cthulhu > blockquote > table { 
    
//   }
// }