&.theme-cthulhu-1,
&.theme-cthulhu-2 {

  table {
    width: 100%;
    border-spacing: 0px;

    $cell-padding: 3px;

    > thead {
      background-color: #5f4625;

      th {
        padding: $cell-padding;
        color: #DED7CC;
      }
    }
  
    > tbody {
      tr:nth-child(even) {
        background-color: rgba(224, 199, 136, 0.4);
      }

      td {
        padding: $cell-padding;
      }
    }
  }

}