.table-stat {
  blockquote {
    margin-left: 0;
    margin-right: 0;
    page-break-inside: avoid;
  }
  &.table-stat-cthulhu > blockquote {
    border: 2px solid black;

    table {
      width: calc(100% + 1px);
      border-collapse: collapse;

      &:first-child {
        border-spacing: 0;

        th {
          padding: 0 5px;
        }

        td {
          padding: 0;
        }
      }

      &:nth-child(n+2) {

        tbody {
          tr:nth-child(odd) {
            background-color: rgba(224, 199, 136, 0.4);
          }

          tr:nth-child(even) {
            background-color: inherit;
          }
        }

        td {
          padding: 0 5px;
        }

        th {
          padding: 0 5px;
        }
      }

      &:nth-child(n+3) {
        td {
          padding: 0 10px;
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }

      th {
        font-size: 12pt;
        font-family: 'regular-text';
        text-align: left;
        color: #DED7CC;
        padding: 0;
      }
      td {
        font-size: 9pt;
        font-family: 'regular-text';
      }

      &:nth-child(2) {
        td {
          font-size: 10pt;
        }
      }
    }
  }
}
// &.notes-are-textured > .table-stat {
//   &.table-stat-cthulhu > blockquote > table { 
    
//   }
// }