&.title {
  h1,
  h5 {
    text-align: center;
    font-family: 'titlePage';
    color: rgb(255, 220, 105);
    -webkit-text-shadow: -2.5px 0 black, 0 2.5px black, 2.5px 0 black, 0 -2.5px black;
    text-shadow: -2.5px 0 black, 0 2.5px black, 2.5px 0 black, 0 -2.5px black;
  }

  h1 {
    font-size: 70pt;
  }
  
  h5 {
    font-size: 18pt;
  }
}