.CodeMirror {
  height: calc(100vh - 30px);
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  resize: none;
  font-size: 10pt;
  line-height: 1.5em;
  font-family: $site-font-mono;
  background: #2a2a2a !important;
  color: #ffffff !important;

  .CodeMirror-lines {
    padding: 8px 0;
  }

  .CodeMirror-gutters {
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #2a2a2a;
    padding-right: 10px;
    z-index: 3;
    border: none;
  }

  .CodeMirror-dialog {
    background: #363636;
    z-index: 2;
    padding: 10px;
    right: 15px;
    &.CodeMirror-dialog-top {
      position: absolute;
      top: 0;
    }
  }

  .CodeMirror-search-field {
    background: #6e6e6e;
    border-color: #6e6e6e;
    border-style: initial;
    color: white;
    padding: 5px;
  }

  .CodeMirror-search-hint {
    color: #dddddd !important;
  }

  .CodeMirror-search-match,
  .CodeMirror-search-match-new-page {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: .5;
  }

  .CodeMirror-search-match {
    background: deepskyblue;
  }

  .CodeMirror-search-match-new-page {
    background: orange;
  }

  .CodeMirror-selection-highlight-scrollbar {
    background: green;
  }

  div.CodeMirror-cursor {
    border-left: 3px solid #ffffff;
  }

  .CodeMirror-activeline-background {
    background-color: #3E3D32;
  }

  .CodeMirror-selected {
    background-color: darkgreen;
  }

  .box pre {
    color: white;
  }

  .cm-new-page-line {
    background-color: rgba(255, 255, 255, 0.3);
    color: yellow;
  }

  .cm-matchhighlight {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .cm-comment {
    color: #B8FF9A;
  }
  
  .cm-string {
    color: #FF9F9A;
  }

  .cm-string-2 {
    color: #FFFFFF;
  }

  .cm-number {
    color: #66D9EF;
  }

  .cm-atom {
    color: #66D9EF;
  }

  .cm-def {
    font-style: italic;
    color: #FD971F;
  }

  .cm-variable {
    color: #ddca7e;
  }
  
  .cm-variable-2 {
    color: #F29C00;
  }

  .cm-property {
    color: #66D9EF;
  }

  .cm-keyword {
    color: #ddca7e;
  }

  .cm-atom {
    color: #ddca7e;
  }

  .cm-operator {
    color: #cccccc;
  }

  .CodeMirror-linenumber {
    color: #B8FF9A;
  }

  .cm-quote {
    color: #B8FF9A;
  }

  .cm-header {
    color: #66D9EF;
  }

  .cm-unit {
    color: #d0782a;
  }

  .cm-meta {
    color: #9a8297;
  }

  .cm-tag {
    color: #ee8ff8;
  }

  .cm-attribute {
    color: #ddca7e;
  }

  .cm-strong {
    color: #ddca7e;
  }

  .cm-em {
    color: #ddca7e;
  }

  .cm-qualifier {
    color: #ddca7e;
  }

  .cm-builtin {
    color: #ddca7e;
  }
}