@import 'button';

.toolbar {
  height: 30px;
  width: 100%;
  background-color: $toolbar-backgroundColor;
  overflow-x: auto;
  overflow-y: hidden;
  clear: both;

  > .dropdown {
    float: left;

    &.dropdownRight {
      float: right;
    }

    %dropdownContent {
      display: none;
      position: absolute;
      background-color: $toolbar-backgroundColor;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 10;
      top: 30px;
      float: none;
      overflow: visible;
    }

    .dropdownContent {
      @extend %dropdownContent;

      .btn {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
      }

      > .dropdown > .dropdownContent {
        @extend %dropdownContent;
        left: 30px;
        width: auto;
      }
    }

    &:hover > .dropdownContent {
      display: block;

      > .dropdown:hover > .dropdownContent {
        display: block;
      }
    }
  }
}