@import "@/assets/scss/reset.scss";
@import "@/assets/scss/mixins.scss";

$toolbar-backgroundColor: #414141;
$btn-backgroundColor: #4b4b4b;
$btn-backgroundColorHover: #737373;
$btn-backgroundColorActive: #5f5f5f;
$btn-backgroundColorClicked: #191919;

$site-font: 'Fira Mono', monospace;