$site-font: "Source Sans Pro", sans-serif;
$site-font-mono: "Fira Mono", monospace;

$display-breakpoint: 1023px;

$toolbar-background-color: #363636;
$toolbar-separator-color: black;
$button-color: white;
$button-background-color: #4b4b4b;
$button-background-hover-color: #737373;
$button-background-active-color: #5f5f5f;
$button-background-clicked-color: #191919;
$button-disabled-color: #909090;
$modal-header-footer-backgorund-color: #363636;
$modal-body-background-color: #2a2a2a;
$modal-color: white;
$document-pages-container-background-color: #cccccc;
$page-background-color: white;

// THEME - DEFAULT
$page-footer-number-default-color: #a08d5d;
$page-heading-default-color: #6a1c0f;
$page-heading-border-default-color: #c9ad69;
$page-heading-title-default-color: #ffdc69;
$page-note-primary-default-background-color: #dae6bf;
$page-note-secondary-default-background-color: #dccfac;
$page-note-tertiary-default-background-color: #e7e3ef;
$page-table-row-odd-default-background-color: rgba(195, 220, 155, 0.6);

// THEME - CTHULHU 1
$page-footer-number-cthulhu-1-color: black;
$page-note-tertiary-cthulhu-1-background-color: #f4eec8;

// THEME - CTHULHU 2
$page-footer-number-cthulhu-2-color: black;
$page-note-primary-cthulhu-2-background-color: rgba(0, 0, 0, 0.071);
$page-note-secondary-cthulhu-2-background-color: rgba(0, 0, 0, 0.071);
$page-note-tertiary-cthulhu-2-background-color: rgba(0, 0, 0, 0.071);

// CTHULHU TABLES
$page-table-header-cthulhu-background-color: #5f4625;
$page-table-header-cthulhu-color: #ded7cc;
$page-table-row-even-cthulhu-background-color: rgba(224, 199, 136, 0.4);

// PROPS
$page-prop-handwritten-color: black;
$page-prop-newspaper-color: black;
$page-prop-newspaper-background-color: #f4dcc0;

// STAT BLOCKS
$page-stat-block-cthulhu-header-background-color: #5f4625;
$page-stat-block-cthulhu-header-color: #ded7cc;
$page-stat-block-cthulhu-row-odd-background-color: rgba(224, 199, 136, 0.2);
$page-stat-block-cthulhu-row-even-background-color: rgba(224, 199, 136, 0.5);
