@media print {
  // for default Google Chrome print settings
  @page {
    margin: 0;
  }
  body, .page {
    margin: 0 !important;
    box-shadow: none !important;
    overflow-x: auto !important;
  }
  .gutter.gutter-horizontal {
    display: none !important;
    height: 0 !important;
  }
  .split-editor {
    display: none !important;
    height: 0 !important;
    float: none !important;
  }
  .gutter.gutter-horizontal {
    display: none !important;
    height: 0 !important;
  }
  .split-document {
    width: 100% !important;
    float: none !important;
  }
  .document-pages-spacer {
    display: none !important;
    height: 0 !important;
  }
  .document {
    overflow: visible !important;
  }
  .toolbar {
    display: none !important;
    height: 0 !important;
  }
  .document-pages-container {
    display: block !important;
    overflow-y: visible !important;
  }
  .page {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin: 0;
    position: relative !important;
    box-sizing: border-box;
    page-break-after: always !important;
  }
  .split {
    overflow: visible !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
