@media print {
  @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i');
  @import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i');
  @import url('https://fonts.googleapis.com/css?family=Cormorant+SC:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i');
  @import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
  @import url('https://fonts.googleapis.com/css?family=Caveat:400,700');
  @import url('https://fonts.googleapis.com/css?family=Metal+Mania');
  @import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700');

  body, .page {
    margin: 0 !important;
    box-shadow: 0 !important;
    overflow-x: auto !important;
  }
  .gutter.gutter-horizontal {
    display: none !important;
    height: 0 !important;
  }
  .editor > textarea {
    display: none !important;
  }
  .editorArea {
    display: none !important;
    height: 0 !important;
    float: none !important;
  }
  .gutter.gutter-horizontal {
    display: none !important;
    height: 0 !important;
  }
  .documentArea {
    width: 100% !important;
    float: none !important;
  }
  .spacerBlock {
    display: none !important;
    height: 0 !important;
  }
  .documentContainer {
    overflow: visible !important;
  }
  .documentToolbar {
    display: none !important;
    height: 0 !important;
  }
  .document {
    display: block !important;
    overflow-y: visible !important;
  }
  .document > .pages > .page {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0) !important;
    margin: 0;
    position: relative !important;
    box-sizing: border-box;
  }
  .split {
    overflow: visible !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
