.document {
  height: 100%;
  overflow: hidden;

  .document-pages-container {
    overflow-y: auto;
    height: calc(100vh - 30px);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(204, 204, 204);

    &.document-overflow-fix {
      display: block;

      .document-pages {
        transform-origin: top left;
      }
    }

    .document-pages {
      transform-origin: top center;
      max-width: 21cm;
    }
  }
}

.page {
  position: relative;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  background-color: white;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  width: 21cm;
  height: 29.7cm;

  padding: 1cm;
  &.theme-cthulhu-1:not(.title) {
    padding-top: 1.6cm;
  }
  &.theme-cthulhu-2:not(.title) {
    padding-top: 2.5cm;
    padding-left: 1.5cm;
    padding-right: 1.5cm;
    padding-bottom: 2cm;
  }

  &.is-textured {
    background-size: 100% 100%;

    &.theme-default {
      background-image: url('../assets/imgs/texture_02.jpg');
    }

    &.theme-cthulhu-1 {
      background-image: url('../assets/imgs/texture_cthulhu_01.jpg');
    }

    &.theme-cthulhu-2 {
      background-image: url('../assets/imgs/texture_cthulhu_02.jpg');
    }

    &.is-inverted {
      &.theme-default {
        background-image: url('../assets/imgs/texture_02.jpg');
      }

      &.theme-cthulhu-1 {
        background-image: url('../assets/imgs/texture_cthulhu_01_inverted.jpg');
      }

      &.theme-cthulhu-2 {
        background-image: url('../assets/imgs/texture_cthulhu_02_inverted.jpg');
      }
    }
  }

  * {
    margin-top: 0 !important;
  }

  &.columns-2 {
    -moz-column-count: 2 !important;
    -webkit-column-count: 2 !important;
    column-count: 2 !important;
    column-fill: auto;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }

  &.columns-3 {
    -moz-column-count: 3 !important;
    -webkit-column-count: 3 !important;
    column-count: 3 !important;
    column-fill: auto;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }

  p, td {
    font-family: 'regular-text';
    font-size: 9pt;
    line-height: 1.25;
    text-align: justify;
  }

  > hr {
    display: none !important;
  }

  > pre {
    break-after: column;
  }

  > .page-px-spacer {
    height: 1px;
    visibility: hidden;
  }

  > .page-wide-block {
    column-span: all;
    -webkit-column-span: all;
  }

  @import "submodules/_document-text.scss";
  @import "submodules/_document-header.scss";
  @import "submodules/_document-list.scss";
  @import "submodules/_document-titlepage.scss";
  @import "submodules/_document-image.scss";
  @import "submodules/_document-note.scss";
  @import "submodules/_document-footer.scss";
  @import "submodules/_document-table.scss";
  @import "submodules/_document-stattable.scss";
}

.document-pages-spacer {
  width: 21cm;
  height: 50px;
}
