.page {
  * {
    margin-top: 0 !important;
  }

  .page-content {
    > .page-wide-block {
      column-span: all;
      -webkit-column-span: all;
    }
  }

  @import "submodules/_document-stattable.scss";
}
