.filepicker {
  .filepicker-container {
    height: 450px;
    overflow-y:scroll;
  }

  .filepicker-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0; 

    .filepicker-row {
      vertical-align: middle;
      height: 30px;

      &.is-selected {
        background-color: $btn-backgroundColorActive;
      }

      &:hover {
        cursor: pointer;
        background-color: $btn-backgroundColorHover;
      }
    }

    .filepicker-col-icon {
      width: 30px;
      text-align: center;

      .fas.fa-folder {
        color: rgb(255, 232, 148);
      }
    }

    .filepicker-col-id, .filepicker-col-mime {
      display: none;
    }
  }
}