@import 'button';

.toolbar {
  height: 30px;
  width: 100%;
  background-color: $toolbar-backgroundColor;
  overflow-x: auto;
  overflow-y: hidden;
  clear: both;

  > .btn {
    border-right: 1px solid black;
    &.btn-right {
      border-right: initial;
      border-left: 1px solid black;
    }
  }

  > .dropdown {
    float: left;

    &.dropdown-right {
      float: right;

      > .btn {
        border-left: 1px solid black;
        border-right: initial;
      }
    }

    > .btn {
      border-right: 1px solid black;
    }

    %dropdown-content {
      display: none;
      position: absolute;
      background-color: $toolbar-backgroundColor;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 10;
      top: 30px;
      float: none;
      overflow: visible;
    }

    .dropdown-content {
      @extend %dropdown-content;

      .btn {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid black;

        &:first-child {
          border-top: 1px solid black;
        }
      }

      > .dropdown > .dropdown-content {
        @extend %dropdown-content;
        left: 30px;
        width: auto;
      }
    }

    &:hover > .dropdown-content {
      display: block;

      > .dropdown:hover > .dropdown-content {
        display: block;
      }
    }
  }
}