.document {
  overflow-y: auto;
  background: rgb(204,204,204);
  position: relative;
  height: calc(100% - 30px);
  width: 100%;
  background: rgb(204,204,204);
}
.document .page {
  display: block;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.spacerBlock {
  width: 100%;
  height: 50px;
}
.page[data-size="A4"] {
  width: 21cm;
  height: 29.7cm;
  margin-left: auto;
  margin-right: auto;
}
.page[data-size="A4"][data-layout="portrait"] {
  width: 29.7cm;
  height: 21cm;
}
.columns {
  padding-left: 1cm;
  padding-right: 1cm;
  padding-top: 1cm;
  padding-bottom: 1cm;
  box-sizing: border-box;
  text-align: left;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  margin: 0;
  height: 100%;
}
.columns * {
  margin-top: 0 !important;
}
