@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC');

.page {
  background-image: url('./texture_01.jpg');
  position: relative;
}
.page > h1,
.page > h2,
.page > h3,
.page > h4,
.page > h5,
.page > h6 {
  font-family: 'Cormorant SC', serif;
  text-transform: uppercase;
  color: rgb(106, 28, 15);
}
.page > h1 {
  font-size: 21pt;
  font-weight: 600;
}
.page > h1::first-letter {
  font-size: 130%;
}
.page > h2 {
  font-size: 18pt;
  font-weight: 400;
  border-bottom: 1px solid rgb(201, 173, 105);
}
.page > h2::first-letter {
  font-size: 130%;
}
.page > p {
  font-family: 'Source Serif Pro', serif;
  font-size: 9pt;
}
.page > blockquote {
  margin-left: 0;
  margin-right: 0;
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: rgb(218, 230, 191);
}
.page > blockquote > blockquote {
  background-color: rgb(220, 207, 172);
  margin: 0;
  overflow: auto;
}
.page > blockquote > *:not(blockquote),
.page > blockquote > blockquote > *:not(blockquote) {
  margin-left: 10px;
  margin-right: 10px;
}
.page > blockquote *:not(blockquote):last-child {
  margin-bottom: 5px;
}
.page > blockquote > *:first-child {
  padding-top: 5px;
}
.page > blockquote h5 {
  font-family: 'Alegreya Sans SC';
  font-size: 11pt;
  font-weight: 700;
  margin-bottom: 5px;
}
.page > blockquote p {
  font-family: 'Source Serif Pro', serif;
  font-size: 9pt;
}
.page > .pageFooter {
  position: absolute;
  width: 21cm;
  height: 1cm;
  bottom: 0;
  left: 0;
  background-image: url('./footer_01.png');
  background-size: 21cm 1cm;
}
.page > .pageFooter.even {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.page > blockquote > table {
  width: 100%;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
}
.page > hr {
  display: none;
}
/* monster tables */
.page > blockquote > hr {
  margin-bottom: 0;
}
.page > hr + blockquote {
  background-color: #ffbcbc;
}
.page > hr + blockquote > table > thead > tr > th {
  font-size: 13pt;
  font-family: 'Alegreya Sans SC';
}
.page > hr + blockquote > table > tbody > tr > td {
  font-size: 9pt;
  font-family: 'Alegreya Sans SC';
}
/* lists */
.page > ul {
  font-size: 9pt;
  font-family: 'Source Serif Pro', serif;
}
.page > ul > li > blockquote {
  margin: 0;
}
.page > blockquote {
  -webkit-column-break-inside: avoid; 
  -moz-column-break-inside: avoid; 
  -o-column-break-inside: avoid; 
  -ms-column-break-inside: avoid; 
  page-break-inside: avoid;
}