@media print {
  body, .page {
    margin: 0 !important;
    box-shadow: 0 !important;
    overflow-x: auto !important;
  }
  .gutter.gutter-horizontal {
    display: none !important;
    height: 0 !important;
  }
  .editor > textarea {
    display: none !important;
  }
  .editorArea {
    display: none !important;
    height: 0 !important;
    float: none !important;
  }
  .gutter.gutter-horizontal {
    display: none !important;
    height: 0 !important;
  }
  .documentArea {
    width: 100% !important;
    float: none !important;
  }
  .spacerBlock {
    display: none !important;
    height: 0 !important;
  }
  .documentContainer {
    overflow: auto !important;
  }
  .documentToolbar {
    display: none !important;
    height: 0 !important;
  }
  .documentToolbar .btn {
    float: none;
  }
  .document {
    display: block !important;
    overflow: auto !important;
    height: 100% !important;
    position: inherit !important;
  }
  .document > .pages > .page {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0) !important;
    margin: 0;
    position: relative;
    box-sizing: border-box;
  }
  .page {
    margin-left: 0;
    margin-right: 0;
  }
  .split {
    overflow: visible !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
